* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
.top{
  width:100%;
  height: 150px;
  display: flex;
  justify-content: center;
}
.top img{
  align-items: center;
}
nav {
  display:flex;
  background-color: #b22222;
  flex-wrap: wrap;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
 justify-content: center;
  align-items: center;
}
nav ul li {
  padding: 0.5rem 5rem;
  font-size:16px;
}
nav ul li a {
  text-decoration: none;
  color: white;
  transition: all 0.03 ease;
}
nav ul li a:hover {
  text-decoration: none;
  color: lightsalmon;
}
.active {
  display: flex;
  color: lightsalmon;
  align-items: center;
}
.container {
  display: flex;
  justify-content:center;
  align-items: center;
  flex-wrap: wrap;
}
.box {
  margin: 10px;
  display: flex;
  background-color: white;
  border-radius: 5%;
  border: grey 1.5px solid;
  padding: 0.1rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.box img{
    width:15vw;
  }
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner img{
  width:80vw;
}
p {
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
}
table, tr, td
{
  border: 0.1px solid black;
  border-collapse: collapse;
  align-items: center;
  padding: 0.5rem;
}
.cate1{
  margin: 10px;
  display:flex;
  overflow-x: auto;
  justify-content: center;
}
.toner{
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
}
.oem{
  margin: 5px;
  width: 30vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.oem img{
  width:25vw;
}
